
    *{
        padding: 0;
        margin: 0;
    }
    .container{
        background: linear-gradient(to top, rgba(10, 10, 10, 0.6)50%, rgba(16, 15, 15, 0.6)50%), url(/bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .calculator {
        background:rgb(5, 5, 5);
        display:flex;
        padding:10px;
        border:0;
        border-radius:15px;
        box-shadow:0 0 10px black;
    }
    .calculator form input{
        background:transparent;
        color: rgb(13, 246, 242);
        margin:6px;
        border:0;
        outline:0;
        border-radius:30px;
        box-shadow:0 0 5px rgb(116, 92, 224);
        width:50px;
        height:50px;
        font-weight:bold;
        font-size:18px;  
        cursor: pointer;   
    }
    form .display{
        display:flex;
        justify-content:flex-end;
        margin:10px;
    }
    form .display input{
        box-shadow:none;
        flex:1;
        text-align:right;
        font-size:32px;
        size:100px;
    }
    .calculator form input.operator{
        color:rgb(108, 8, 249);
        font-weight:bold;
    }